.footer_section {
    margin-left: -10px;
    margin-right: -10px;
    height: 20rem;
    background: linear-gradient(to left, #c54e1a 0%, #cb812b 59%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cantora One', sans-serif;
    padding: 1rem;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    align-items: center;
}

.footer_logo img {
    height: 40px;
}

.footer_text {
    font-size: 14px;
}

.footer_links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    transition: color 0.3s;
}

.footer_links a:hover {
    color: #e67e22;
}